<aside class="sidebar">
  <ul class="sidebar-nav">
    <li><a href="#" data-page="home">Trang chủ</a></li>
    <li><a href="#" data-page="thoikhoabieu">Thời khóa biểu</a></li>
    <li><a href="#" data-page="duyetyeucausuadiem">Duyệt yêu cầu sửa điểm</a></li>
    <li><a href="#" data-page="settings">Cài đặt</a></li>
  </ul>

  <div class="sidebar-footer">
    <button>Đăng xuất</button>
  </div>
</aside>
